@media screen and (max-width: 320px) {
    section#container-moeda-e-idioma {
        justify-content: center;
    }

    section#container-moeda-e-idioma > article {
        width: 50%;
    }

    header.header-aberto > i#fechar-icone, header.header-aberto > h1, header.header-fechado > i#user-icone, header.header-fechado > i#menu-icone {
        font-size: 1.8em;
    }

    header.header-aberto > article#moeda-item {
        scale: 0.74;
    }

    main.main-aberto > article.itens-do-viajour {
        height: 120px;
    }

    section.stats-card {
        padding: 30px 0px;
    }

}

@media screen and (max-height: 568px) {
    main.main-fechado > div.desc-app > img.baixar-app {
        right: 3.5%;
        max-height: 150px;
    }
}

@media screen and (min-width: 568px) {   
    main.main-fechado > div.desc-app > p {
        text-align: center;
    }

    section.stats-card {
        justify-content: center;
    }

    .stats-card > .stat-item {
        grid-template-columns: 30% 1fr;
    }

    .stats-card > .stat-item i {
        grid-column: 1;
    }

    .stats-card > .stat-item .desc {
        grid-column: 2;
    }

    div#body.body-menu-fechado {
        background-image: linear-gradient(to bottom, #0244f9, #57adf8 65%);
    }
}

@media screen and (min-width: 768px) {
    section.stats-card {
        display: flex;
        justify-content: space-evenly;
        padding: 30px 0px;
    }

    header.header-aberto {
        grid-template-columns: 15% 30% 1fr;
    }

    header.header-aberto > i#fechar-icone, header.header-aberto > h1, header.header-fechado > i#user-icone, header.header-fechado > i#menu-icone, header.header-fechado > h1 {
        font-size: 2em;
    }

    section#container-moeda-e-idioma {
        padding-bottom: 30px;
    }

    section#container-moeda-e-idioma > h2 {
        font-size: 1.8em;
        margin-bottom: 10px;
    }

    main.main-aberto > article.itens-do-viajour {
        height: 140px;
    }

    main.main-aberto > article.itens-do-viajour > a {
        justify-content: center;
        gap: 10px;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;
    }

    main.main-aberto > article.itens-do-viajour > a > p {
        font-size: 1.6em;
    }

    main.main-aberto > article.itens-do-viajour > a > i.icones-referencia {
        font-size: 2.2em;
    }

    main.main-aberto > article.itens-do-viajour > a > i.icones-ia, main.main-aberto > article.itens-do-viajour > a > i.icones-custo, main.main-aberto > article.itens-do-viajour > a > i.icones-planejamento {
        font-size: 1.4em;
        cursor: default;
    }
}

@media screen and (min-width: 568px) and (max-width: 851px) {
    main.main-fechado > div.desc-app > img.baixar-app {
        right: 10.5%;
        max-height: 150px;
    }
}

@media screen and (min-width: 852px) and (max-width: 956px) {
    main.main-fechado > div.desc-app > img.baixar-app {
        right: 12.5%;
        max-height: 150px;
    }
}

@media screen and (min-width: 957px) and (max-width: 1024px) {
    main.main-fechado > div.desc-app > img.baixar-app {
        right: 14.5%;
        max-height: 150px;
    }
}

@media screen and (min-width: 1025px) {
    div#body.body-menu-fechado {
        min-height: 100vh;
        height: auto;
        background-image: linear-gradient(to bottom, #0244f9, #57adf8 35%);
        display: grid;
        grid-template-columns: 4vw 1fr;
        grid-template-rows: 10vh 20vh 1fr;    
    }

    header#header.header-fechado {
        background-color: transparent;
        grid-column: 2;
        grid-row: 1;
        width: 100%;
        gap: 10px;
        display: grid;
        grid-template-columns: 150px 1fr;
        grid-row: 1fr;
        place-items: start normal;
        padding: 2vh 1vw 2vh 0;
    }
    
    header#header.header-fechado > i#menu-icone {
        display: none;
    }

    header#header.header-fechado > h1 {
        grid-column: 1;
        grid-row: 1;
        font-family: 'Majesty';
        letter-spacing: 2px;
        font-weight: 300;
        text-align: center;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
        transition: all 0.2s;
    }

    header#header.header-fechado > section#container-moeda-e-idioma-desktop {
        display: flex;
        justify-self: end;
        grid-column: 2;
        grid-row: 1;
        gap: 10px;
        transition: all 0.2s;
        scale: 0.8;
    }

    header#header.header-fechado > section#container-moeda-e-idioma-desktop > article.idiomas-e-moedas-itens-desktop {
        display: flex;
        min-width: 140px;
        justify-content: space-evenly;
        padding: 10px 0;
        align-items: center;
        background-color: rgb(98, 195, 255);
        box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
        border-radius: 12px;
        cursor: pointer;
        transition: all 0.2s;
    }

    header#header.header-fechado > section#container-moeda-e-idioma-desktop > article.idiomas-e-moedas-itens-desktop:active {
        background-color: rgb(137, 250, 112);
    }

    header#header.header-fechado > section#container-moeda-e-idioma-desktop > article#moeda-item {
        display: flex;
        background-color: #12317d75;
        border-radius: 40px;
        width: 175px;
        height: 40px;
        justify-content: center;
        align-items: center;
        gap: 5px;
        font-size: 1.2em;
        font-weight: 300;
        scale: 1;
    }

    header#header.header-fechado > i#user-icone {
        display: none;
    }

    header#header.header-fechado i {
        font-size: 2em;
        background: none;
        border: none;
        color: white;
        cursor: pointer;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
        transition: 0.4s ease-in-out;
    }

    header#header.header-fechado i:active {
        transform: scale(0.94);
    }

    section.stats-card {
        grid-row: 2;
        grid-column: 2;
    }

    main#main-fechado.main-fechado {
        grid-row: 3;
        grid-column: 2;
    }
}

@media screen and (min-width: 1528px) {
    header#header.header-fechado > section#container-moeda-e-idioma-desktop {
        scale: 0.9;
    }
}

@media screen and (min-width: 1628px) {
    header#header.header-fechado > section#container-moeda-e-idioma-desktop {
        scale: 1;
    }
}
