@font-face {
    font-family: 'Majesty';
    src: url(/fonts/FB-Free-Majesty-Goldera/Majesty\ Goldera.otf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}