@reference "tailwindcss";
* .cadastro-screen {
  @apply box-border m-0 p-0 font-['Oswald',sans-serif];
}
@font-face {
  font-family: "Majesty";
  src: url(../fonts/FB-Free-Majesty-Goldera/Majesty\Goldera.otf);
}
main.cadastro-screen {
  @apply h-screen bg-[url(https://cdn.pixabay.com/photo/2017/08/17/20/05/disney-2652684_1280.jpg)] grid grid-cols-[auto_1fr_auto] grid-rows-[auto_1fr_auto] bg-cover transition-[0.5s] place-items-center;
}
.form-container.cadastro-screen {
  @apply justify-self-center col-2 row-2 w-auto h-auto bg-white border shadow-[rgba(0,0,0,0.25)_1px_1px_1px] px-[4%] py-[2%] rounded-[15px] border-[rgba(0,0,0,0.701)] scale-[1.2];
}
.title.cadastro-screen {
  @apply text-center text-[2.8em] font-['Majesty'] font-normal text-[#222222] mb-[4%];
}
.form.cadastro-screen {
  @apply w-full flex flex-col gap-[18px] mb-[1%];
}
.input.cadastro-screen {
  @apply border outline-0 p-[5%] rounded-[10px] border-[#c0c0c0];
}
.page-link-label.cadastro-screen {
  @apply text-[rgb(0,94,255)] text-shadow-black text-end text-[0.9em] font-normal cursor-pointer w-fit m-0;
}
.page-link-label.cadastro-screen:hover,
.page-link-label.cadastro-screen:active {
  @apply text-[rgb(61,129,247)];
}
.form-btn.cadastro-screen {
  @apply text-[1.5em] text-[white] cursor-pointer shadow-[rgba(0,0,0,0.24)_0px_3px_8px] transition-[0.2s] duration-[ease] text-shadow-black bg-[#62a9d5] outline-0 pt-0.5 pb-1 px-0 rounded-[20px] border-0 active:shadow-none active:scale-[0.96];
}
.sign-up-label.cadastro-screen {
  @apply text-[1em] text-[#504f4f] mt-2.5 m-0;
}
.sign-up-link.cadastro-screen {
  @apply text-[0.9em] text-[rgb(0,94,255)] cursor-pointer font-extrabold ml-1.5;
}
.sign-up-link.cadastro-screen:hover,
.sign-up-link.cadastro-screen:active {
  @apply text-[rgb(61,129,247)];
}
.buttons-container.cadastro-screen {
  @apply w-full flex flex-col justify-start gap-[15px] mt-5;
}
.apple-login-button.cadastro-screen,
.google-login-button.cadastro-screen {
  @apply shadow-[rgba(0,0,0,0.16)_0px_10px_36px_0px,rgba(0,0,0,0.06)_0px_0px_0px_1px] cursor-pointer flex justify-center items-center gap-[5px] text-[1.2em] transition-[0.2s] duration-[ease] pt-[1.5%] pb-[2.5%] px-[3.5%] rounded-[20px];
}
.apple-login-button.cadastro-screen:active,
.google-login-button.cadastro-screen:active {
  @apply scale-[0.96];
}
.apple-login-button.cadastro-screen {
  @apply bg-black text-white border-2 border-solid border-black;
}
.google-login-button.cadastro-screen {
  @apply border-2 border-solid border-[#747474];
}
.apple-icon.cadastro-screen,
.google-icon.cadastro-screen {
  @apply text-lg mb-px;
}
@media screen and (max-height: 568px) {
  main.cadastro-screen {
    @apply h-screen bg-[url(https://cdn.pixabay.com/photo/2017/08/17/20/05/disney-2652684_1280.jpg)] flex relative bg-cover transition-[0.5s];
  }
  div.form-container.cadastro-screen {
    @apply w-4/5 absolute -translate-x-2/4 -translate-y-2/4 border shadow-[rgba(0,0,0,0.25)_1px_1px_1px] px-[4%] py-[2%] rounded-[15px] border-[rgba(0,0,0,0.701)] left-2/4 top-[42.5%];
  }
  .sign-up-link.cadastro-screen {
    @apply text-shadow-black block text-[1em] text-[rgb(0,94,255)] cursor-pointer font-extrabold m-auto;
  }
}
@media screen and (min-height: 569px) and (min-width: 320px) and (max-width: 1024px) {
  main.cadastro-screen {
    @apply items-center justify-items-center grid-cols-[auto_1fr_auto] grid-rows-[5vh_1fr_5vh];
  }
  div.form-container.cadastro-screen {
    @apply max-w-[80%] px-[5%] py-[4%] scale-110;
  }
}
