@reference "tailwindcss";

@font-face {
    font-family: 'Majesty';
    src: url(../assets/fonts/majesty.otf);
}
* {
  @apply box-border m-0 p-0;
  font-family: "Oswald", sans-serif;
}
aside.menu-lateral.menu-lateral-component {
  /* make the lateral menu fixed on the side so it doesn't scroll with the page */
  @apply fixed top-0 left-0 z-50 bg-[#082556] transition-all duration-300 w-[4vw] flex flex-col flex-nowrap justify-start items-center overflow-hidden gap-10 pt-[3vh] h-screen;
}
aside.menu-lateral.menu-lateral-component > article.itens-do-viajour-desktop.menu-lateral-component {
  @apply min-h-[50px] h-auto text-[white] mx-[4%] my-0 p-[auto] rounded-md;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}
aside.menu-lateral.menu-lateral-component > i#menu-icone-aside.menu-lateral-component {
  @apply self-center text-white text-[1.8em] cursor-pointer text-shadow-[1px_1px_1px_#0000004d];
}
aside.menu-lateral.menu-lateral-component > article.itens-do-viajour-desktop.menu-lateral-component,
aside.menu-lateral.menu-lateral-component > div.div-instrucoes.menu-lateral-component {
  @apply hidden;
}
aside.menu-lateral.menu-lateral-component > div#div-menu-fechado.menu-lateral-component {
  @apply flex gap-[30px] text-[1.6em];
  flex-flow: column nowrap;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

aside.menu-lateral.menu-lateral-component > div#div-menu-fechado.menu-lateral-component > i {
  @apply cursor-pointer;
}

aside.menu-lateral.menu-lateral-component > div#div-menu-fechado.menu-lateral-component > i#instrucao-1.menu-lateral-component {
  @apply text-[lightblue];
}
aside.menu-lateral.menu-lateral-component > div#div-menu-fechado.menu-lateral-component > i#instrucao-2.menu-lateral-component {
  @apply text-[lightgreen];
}
aside.menu-lateral.menu-lateral-component > div#div-menu-fechado.menu-lateral-component > i#instrucao-3.menu-lateral-component {
  @apply text-[rgb(214,214,103)];
}
aside.menu-lateral.menu-lateral-component.ativado {
  /* keep fixed positioning, allow independent scrolling inside the expanded menu */
  @apply h-screen w-[12vw] overflow-y-auto transition-all duration-200 bg-[#082556] flex gap-[15px] px-[2vh] py-[3vh];
  align-items: end;
  flex-flow: column nowrap;
}

aside.menu-lateral.menu-lateral-component.ativado > div#div-menu-fechado.menu-lateral-component {
  @apply hidden;
}

aside.menu-lateral.menu-lateral-component.ativado > div.div-instrucoes.menu-lateral-component {
  @apply flex self-center flex-col text-neutral-100 items-center text-center text-[1.4em] font-normal gap-1 mt-5;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

aside.menu-lateral.menu-lateral-component.ativado > div.div-instrucoes.menu-lateral-component > i.menu-lateral-component {
  @apply text-[1em];
}

aside.menu-lateral.menu-lateral-component.ativado > div#div-ferramentas-ia-desktop.menu-lateral-component > i.menu-lateral-component {
  @apply text-[lightblue];
}

aside.menu-lateral.menu-lateral-component.ativado > div#div-custos-desktop.menu-lateral-component > i.menu-lateral-component {
  @apply text-[lightgreen];
}

aside.menu-lateral.menu-lateral-component.ativado > div#div-planejamento-pessoal-desktop.menu-lateral-component > i.menu-lateral-component {
  @apply text-[rgb(214,214,103)];
}

aside.menu-lateral.menu-lateral-component.ativado > article.itens-do-viajour-desktop.menu-lateral-component {
  @apply block min-w-full max-w-full min-h-[70px] overflow-hidden rounded-md;
}

aside.menu-lateral.menu-lateral-component.ativado > article.itens-do-viajour-desktop.menu-lateral-component > a.menu-lateral-component {
  @apply flex justify-evenly gap-1 cursor-pointer no-underline h-full w-full text-[white] font-normal bg-[rgba(211,211,211,0.062)] transition-all duration-300 pl-[5px] px-0 py-2 hover:bg-[rgb(52,94,219)];
  flex-flow: column nowrap;
  align-items: start;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

aside.menu-lateral.menu-lateral-component.ativado > article.itens-do-viajour-desktop.menu-lateral-component > a.menu-lateral-component > i.menu-lateral-component {
  @apply text-[white] text-[1.6em];
}


