@reference "tailwindcss";

@font-face {
    font-family: 'Majesty';
    src: url(/fonts/FB-Free-Majesty-Goldera/Majesty\ Goldera.otf);
}
* {
  @apply box-border m-0 p-0;
  font-family: "Oswald", sans-serif;
}

h1#titulo.menu-vertical-component {
  @apply text-white transition-all cursor-pointer duration-300 font-['Majesty'] text-2xl py-1 text-center bg-[#082556];
}

h1#titulo.menu-vertical-component > span {
  @apply hidden;
}

h1#titulo.menu-vertical-component.menu-ativado {
  @apply cursor-default;
}

h1#titulo.menu-vertical-component.menu-ativado > i {
  @apply hidden;
}

h1#titulo.menu-vertical-component.menu-ativado > span {
  @apply block;
}

aside.menu-lateral.menu-vertical-component {
  @apply bg-[#082556] transition-all duration-300 pb-4 pt-1 px-6
  w-max max-w-full min-h-[100px]
  hidden flex-row flex-nowrap justify-start gap-x-6 overflow-x-auto overflow-y-hidden whitespace-nowrap;
  scrollbar-width: none;
}

aside.menu-lateral.menu-vertical-component.menu-ativado {
  @apply flex;
}

aside.menu-lateral.menu-vertical-component::-webkit-scrollbar {
  display: none;
}

aside.menu-lateral.menu-vertical-component > article.itens-do-viajour-desktop.menu-vertical-component {
  @apply inline-block w-[90px] min-w-[140px] min-h-[70px] rounded-xl shrink-0 overflow-hidden;
}

aside.menu-lateral.menu-vertical-component.menu-vertical-component > article.itens-do-viajour-desktop.menu-vertical-component > a.menu-vertical-component {
  @apply flex justify-evenly cursor-pointer items-center gap-1 no-underline h-full w-full text-[white] font-normal bg-[rgba(211,211,211,0.092)] transition-all duration-300 pl-1.5 px-0 py-2 hover:bg-[rgb(52,94,219)];
  flex-flow: column nowrap;
  align-items: start;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}
aside.menu-lateral.menu-vertical-component.menu-vertical-component > article.itens-do-viajour-desktop.menu-vertical-component > a.menu-vertical-component > i.menu-vertical-component {
  @apply text-[white] text-[1.6em];
}
