@reference "tailwindcss";

:root {
  --fundo: #e1f0f8;
  --texto: #1e2328;
  --botao: #25262a;
  --texto-botao: #e3e4f0;
  --fundo-menu-pressionado: white;
  --sombra-texto: rgba(0, 0, 0, 0.1);
  --texto-tag-pressionada: black;
  --fundo-tag-pressionada: rgba(132, 214, 247, 0.229);
  --fundo-tag-aberta: rgba(211, 211, 211, 0.3);
  --texto-produtos: rgb(108, 107, 107);
  --lua-modo-escuro: rgba(0, 0, 139, 0.322);
  --sol-modo-claro: black;
}

body.escuro {
  --fundo: #051e2c;
  --texto: #f6f8fb;
  --botao: #f5f6f8;
  --texto-botao: #0c0c0c;
  --fundo-menu-pressionado: #222222;
  --sombra-texto: rgba(0, 0, 0, 0.8);
  --texto-tag-pressionada: white;
  --fundo-tag-pressionada: rgba(132, 214, 247, 0.645);
  --fundo-tag-aberta: rgba(211, 211, 211, 0.3);
  --texto-produtos: rgb(186, 185, 185);
  --lua-modo-escuro: rgb(26, 26, 255);
  --sol-modo-claro: gray;
}
body,
html {
  @apply h-screen;
}

@font-face {
  font-family: "Majesty";
  src: url(../fonts/FB-Free-Majesty-Goldera/Majesty\Goldera.otf);
}
* {
  @apply box-border m-0 p-0;
  font-family: "Oswald", sans-serif;
}

/* Menu-Pressionado. Só é ativado em mobiles */
/* 1/2 Menu-Pressionado */
div#menu-pressionado {
  @apply hidden min-h-screen h-auto grid-cols-[1fr_4fr_1fr] grid-rows-[75px_100px_500px] bg-(--fundo-menu-pressionado) gap-y-2.5;
}
div#menu-pressionado.aberto {
  @apply grid;
}
#menu-pressionado > #botao-fechar {
  @apply col-3 place-self-center;
}
div.cadastro {
  @apply flex flex-col justify-evenly items-center col-[span_3] row-2;
}
div.cadastro > button {
  @apply w-[90%] text-center tracking-[0.5px] text-[1em] transition-[0.3s] m-[0.5vh] p-1 rounded-md active:scale-[0.94];
}
button#cadastrar {
  @apply bg-(--botao) text-(--texto-botao);
}
button#login {
  @apply bg-(--fundo-menu-pressionado) text-(--texto) border-(--texto-produtos) border-2 border-solid;
}
section#topicos {
  @apply col-[span_3] row-3;
}
section#topicos h3 {
  @apply w-[90%] text-[1.2em] font-thin text-(--texto) mx-auto my-2.5 pl-2.5 pr-0 py-2.5 rounded-md active:bg-(--fundo-tag-pressionada) active:text-(--texto-tag-pressionada) active:rounded-none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
div#produtos-container {
  @apply relative;
}
div#produtos-container > p {
  @apply absolute -translate-x-2/4 -translate-y-2/4 text-[1.8em] text-(--texto-produtos) right-[7.5%] top-2/4;
}
div#produtos-container > p.aberto {
  @apply -translate-x-2/4 -translate-y-2/4 rotate-90;
}
h3#produtos-tag.aberto {
  @apply bg-(--fundo-tag-aberta);
}
article#produtos-a-mostrar {
  @apply hidden;
}
article#produtos-a-mostrar.aberto {
  @apply block mx-0 my-5;
}
article#produtos-a-mostrar h3 {
  @apply text-(--texto-produtos) text-[1em] font-normal pl-[9vw];
}
article#produtos-a-mostrar .produtos-unicos:active i {
  @apply text-(--texto-tag-pressionada);
}
article#produtos-a-mostrar > .produtos-unicos {
  @apply relative;
}
article#produtos-a-mostrar > .produtos-unicos > i {
  @apply absolute text-(--texto-produtos) text-[1em] -translate-x-2/4 -translate-y-2/4 left-[9vw] top-2/4;
}
hr {
  @apply mx-[4%] my-0 border-[rgba(211,211,211,0.608)];
}
article#tema-container {
  @apply relative;
}
div#temas {
  @apply absolute translate-x-[-30%] -translate-y-2/4 right-[0%] top-2/4;
}
div#temas i#modo-escuro,
div#temas-desktop i#modo-escuro {
  @apply text-(--lua-modo-escuro);
}
div#temas i#modo-claro,
div#temas-desktop i#modo-claro {
  @apply text-(--sol-modo-claro);
}
/* 2/2 Menu-Pressionado */
header,
main,
footer {
  @apply grid;
}
/* Grid por padrão */

/* Conteúdos que só mostram no Desktop */
header > nav,
header > section,
header > div#temas-desktop,
header > h2 > i#aviao-icone-desktop {
  @apply hidden;
}
header > #produtos-desktop-container {
  @apply grid opacity-0 -translate-y-5 pointer-events-none transition-all duration-100 h-0 overflow-hidden;
}

/* Conteúdos que somem ao clicar no ícone de Menu */
header.fechado,
main.fechado,
footer.fechado {
  @apply hidden;
}

/* Valor padrão dos ícones */
i {
  @apply text-[2em] text-(--botao) transition-[0.5s];
}

/* Header */
/* 1/2 Header */
header {
  @apply bg-(--fundo-menu-pressionado) grid-cols-[1fr_4fr_1fr] grid-rows-[75px_1fr] place-items-center pb-5;
}
header > #aviao-icone {
  @apply row-1 col-1;
}
header > #menu-icone {
  @apply row-1 col-3;
}
header > h2 {
  @apply row-1 col-2 tracking-[1px] text-[2.6em] transition-[0.4s] font-black;
  font-family: "Majesty";
}
header > h2 > i {
  @apply text-[1em];
}
header > h2:active,
header > h2:hover {
  @apply tracking-[4px];
}
header > h1 {
  @apply col-[span_3] row-2 text-center px-[30px] py-0 text-3xl;
}
h1,
h2,
h3 {
  @apply text-(--texto);
}
/* 2/2 Header */
main {
  @apply bg-(--fundo) grid-cols-[auto_80%_auto] grid-rows-[500px_1000px] gap-y-[5vh];
}
.imagem {
  @apply col-[span_3] row-1 w-full h-full bg-cover;
  background: var(--texto)
    url(https://cdn.pixabay.com/photo/2021/12/13/07/06/airplane-6867678_1280.jpg)
    center center no-repeat fixed;
}
main > section article#imagem-1,
main > section > article#imagem-2,
main > section > article#imagem-3 {
  @apply hidden;
}
section#servicos-section {
  @apply grid col-2 row-2 grid-cols-[1fr] grid-rows-[1fr_1fr_1fr];
}
.servicos-article {
  @apply grid grid-cols-[1fr_1fr] grid-rows-[1fr] border items-center shadow-[0_6px_18px_rgba(0,0,0,0.08)] transition-all duration-500 bg-(--fundo-menu-pressionado) mx-0 my-[2.5vh] border-solid border-[rgba(0,0,0,0.505)] focus:-translate-y-2.5 focus:shadow-[0_20px_40px_rgba(0,0,0,0.18)] focus:scale-[1.08];
}
.servicos-article > .descricao > p {
  @apply hidden;
}
.descricao {
  @apply col-2 row-1 text-center transition-[0.1s] duration-[ease] mx-[3%] my-0;
}
.servicos-article h3 {
  @apply font-thin mx-0 my-[15px];
}
.botao-servicos {
  @apply bg-(--botao) text-[1em] text-(--texto-botao) rounded shadow-[1px_1px_5px_rgba(0,0,0,0.193)] cursor-pointer transition-[0.5s] p-2.5 active:scale-100;
}
.servico-imagens {
  @apply col-1 row-1 w-full h-full transition-all duration-500 bg-cover bg-position-[50%_40%];

}
#servico-roteiro-automatico {
  @apply bg-[url(https://cdn.pixabay.com/photo/2023/05/28/12/08/suitcase-8023523\_1280.png)];
}
#servico-calculo-custos {
  @apply bg-[url(https://cdn.pixabay.com/photo/2017/08/01/15/03/global-2566114\_1280.jpg)];
}
#servico-sua-aventura {
  @apply bg-[url(https://cdn.pixabay.com/photo/2022/05/28/14/09/landscape-7227383\_1280.jpg)];
}
footer {
  @apply grid-cols-[1fr_5fr_1fr] grid-rows-[1fr_2fr_3fr] gap-y-[3vh] bg-(--fundo-menu-pressionado) px-0 py-5;
}
footer > h2 {
  @apply col-2 row-1 grid place-self-center text-center text-[2em];
}
footer > .rodape {
  @apply row-2 col-[1/4] grid grid-cols-[1fr_1fr] grid-rows-[1fr_1fr] auto-rows-auto auto-cols-auto gap-1;
}
footer > .rodape > .imagem-rodape {
  @apply bg-cover shadow-[1px_1px_1px_rgba(0,0,0,0.300)] bg-position-[50%_80%];
}
#imagem-rodape-1 {
  @apply bg-[url(https://cdn.pixabay.com/photo/2023/04/20/12/22/globe-7939725\_1280.jpg)];
}
#imagem-rodape-2 {
  @apply bg-[url(https://cdn.pixabay.com/photo/2022/01/10/18/06/girls-6928968\_1280.jpg)];
}
#imagem-rodape-3 {
  @apply bg-[url(https://cdn.pixabay.com/photo/2023/02/24/21/11/pancake-7811889\_1280.jpg)] bg-bottom;
}
#imagem-rodape-4 {
  @apply bg-[url(https://cdn.pixabay.com/photo/2020/03/18/05/15/horse-4942698\_1280.jpg)];
}
footer > nav {
  @apply grid col-[span_3] row-3 grid-rows-[1fr_100px] gap-y-[15px];
}
nav > h3 {
  @apply text-center row-1 text-[1.8em] mx-2.5 my-0;
}
footer > nav > ul {
  @apply flex self-start gap-5 row-2 justify-center items-center;
  list-style: none;
}
footer i {
  @apply text-(--texto) transition-[0.25s];
}
i:active,
i:hover {
  transform: scale(1.08) translateZ(-10px);
  cursor: pointer;
}

#Viajour {
  @apply text-[1.2em] font-black;
  font-family: "Majesty";
}

        /* Celulares grandes ou em modo paisagem */
@media screen and (min-width: 568px) and (max-width: 768px) {
  main {
    @apply grid-rows-[350px_1000px];
  }
  .servicos-article {
    @apply text-[1.4em];
  }
  #servico-roteiro-automatico {
    @apply bg-position-[50%_85%];
  }
  #servico-calculo-custos {
    @apply bg-position-[50%_20%];
  }
  #servico-sua-aventura {
    @apply bg-position-[50%_15%];
  }
  footer {
    @apply grid-rows-[1fr_5fr_3fr];
  }
}

        /* Tablets */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  main {
    @apply grid-rows-[350px_850px];
  }
  .servicos-article {
    @apply text-[1.4em];
  }

  header > i,
  header > h2 {
    @apply text-[3em];
  }
  #menu-pressionado > #botao-fechar {
    @apply text-[3em];
  }
  #servico-roteiro-automatico {
    @apply bg-position-[50%_85%];
  }
  #servico-calculo-custos {
    @apply bg-position-[50%_20%];
  }
  #servico-sua-aventura {
    @apply bg-position-[50%_10%];
  }
  footer {
    @apply grid-rows-[1fr_5fr_3fr];
  }
  footer > nav {
    @apply grid-rows-[1fr_200px];
  }
}

        /* Desktop */
@media screen and (min-width: 1024px) {
  header #menu-icone {
    @apply hidden;
  }
  header #aviao-icone {
    @apply hidden;
  }
  header > h2 > i#aviao-icone-desktop {
    @apply inline;
  }
  header {
    @apply grid-cols-[1fr_4fr_1fr_2fr] grid-rows-[1fr_auto_2fr] place-content-center pt-2.5 px-4 items-center justify-items-normal;
  }
  header > div#temas-desktop {
    @apply flex col-3 row-1 scale-80;
  }
  header > h1 {
    @apply col-[span_4] row-3;
  }
  header > h2 {
    @apply justify-self-end col-1 row-1 flex text-[1.4em] items-center gap-[2.5px];
  }
  header > h2 > i {
    @apply text-[1.2em];
  }
  header > section {
    @apply flex justify-around row-1 col-2;
  }
  .topicos-desktop {
    @apply text-(--texto-produtos) font-light text-[1.4em] transition-[0.5s] cursor-pointer p-[0.4em] rounded-[10px] hover:bg-[lightskyblue] hover:text-[black];
    text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.4);
  }
  #produto-desktop-tag.azul-ativado {
    @apply bg-[lightskyblue] text-[black];
  }
  span#seta-desktop {
    @apply inline-block rotate-90 translate-x-1/4 translate-y-[5%] transition-[0.1s] duration-[ease];
  }
  .topicos-desktop:hover span#seta-desktop {
    @apply -rotate-90 translate-x-1/4 translate-y-[5%];
  }
  span#seta-desktop.seta-virada {
    @apply -rotate-90 translate-x-1/4 translate-y-[5%];
  }
  header > #produtos-desktop-container.container-ativado {
    @apply overflow-hidden min-h-[20%] transition-all duration-400 opacity-100 translate-y-0 mt-6 pointer-events-auto h-auto col-[2/4] row-2 grid-cols-[1fr_1fr_1fr] grid-rows-[20%_85%] bg-(--fundo-menu-pressionado) border-(--texto-tag-pressionada) pt-[1%] pb-[2%] rounded-[15px] border-2;
  }
  header > #produtos-desktop-container > h2 {
    @apply row-1 justify-self-center text-2xl;
    text-shadow: 1px 1px 1px var(--fundo-menu-pressionado);
  }
  header > #produtos-desktop-container > div.produtos-pai {
    @apply grid grid-rows-[1fr_1fr_1fr_1fr] justify-center;
  }
  header > #produtos-desktop-container > div.produtos-pai > div {
    @apply flex items-center justify-start rounded transition-all duration-200 cursor-pointer mx-0 my-[0.5vh] px-[0.5vh] py-0 border-2 border-(--fundo-menu-pressionado) hover:bg-[lightskyblue] hover:scale-105;
  }
  header > #produtos-desktop-container > div.produtos-pai > div > i {
    @apply text-[1em];
    text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.326);
  }
  header > #produtos-desktop-container > div.produtos-pai > div > h3 {
    @apply text-[1em] font-normal ml-[5px];
    text-shadow: 1px 1px 1px var(--sombra-texto);
  }
  header > nav {
    @apply justify-self-end flex col-4 row-1;
  }
  .cadastro-desktop {
    @apply scale-94 text-(--texto-botao) font-light text-[1.2em] transition-[0.5s] cursor-pointer bg-(--botao) border-(--texto-tag-pressionada) px-[0.5em] py-[0.3em] rounded-[15px] border-2 border-solid active:scale-[0.9];
    text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.4);
  }
  .cadastro-desktop:hover,
  #c-desktop:hover {
    @apply bg-[lightskyblue] border-(--fundo-menu-pressionado) text-[white];
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  }
  #c-desktop {
    @apply text-(--texto) bg-(--fundo-menu-pressionado);
  }
  main {
    @apply grid-cols-[1fr_5fr_1fr] grid-rows-[800px_minmax(100vh,150vh)] overflow-hidden;
  }
  .imagem {
    @apply hidden;
  }
  main > section.imagem-desktop {
    @apply grid col-[span_3] row-1 grid-cols-[1fr_1fr_1fr] grid-rows-[1fr];
  }
  main > section.imagem-desktop > article#imagem-1 {
    @apply grid col-1 row-1 bg-cover;
    background: var(--texto)
      url(https://cdn.pixabay.com/photo/2023/12/04/05/54/ferris-wheel-8428738_1280.jpg)
      center center no-repeat;
  }
  main > section.imagem-desktop > article#imagem-2 {
    @apply grid col-2 row-1 bg-cover;
    background: var(--texto)
      url(https://cdn.pixabay.com/photo/2023/09/29/14/58/road-8284023_1280.jpg)
      center center no-repeat;
  }
  main > section.imagem-desktop > article#imagem-3 {
    @apply grid col-3 row-1 bg-cover;
    background: var(--texto)
      url(https://cdn.pixabay.com/photo/2019/07/21/21/29/path-4353699_1280.jpg)
      center center no-repeat;
  }
  section#servicos-section {
    @apply grid-rows-[1fr_1fr_1fr];
  }
  .servicos-article {
    @apply transition-all duration-500 h-[30vh] max-h-[auto] grid-cols-[1fr_1fr] grid-rows-[30vh] focus:grid-cols-[1fr] focus:grid-rows-[30vh_30vh] focus:mb-[40vh];
  }
  main
    > section#servicos-section
    > article.servicos-article
    > article.servico-imagens {
    @apply col-2 bg-cover;
  }

  main
    > section#servicos-section
    > article.servicos-article
    > article#servico-roteiro-automatico {
    @apply bg-[url(https://cdn.pixabay.com/photo/2023/03/16/08/42/camping-7856198\_1280.jpg)] bg-position-[center_50%];
  }

  main
    > section#servicos-section
    > article.servicos-article
    > article#servico-calculo-custos {
    @apply bg-[url(https://cdn.pixabay.com/photo/2018/03/10/18/03/laptop-3214756\_1280.png)] bg-position-[center_center];
  }

  main
    > section#servicos-section
    > article.servicos-article
    > article#servico-sua-aventura {
    @apply bg-[url(https://cdn.pixabay.com/photo/2019/03/19/14/50/fantasy-4065898\_1280.jpg)] bg-position-[50%_20%];
  }

  .descricao {
    @apply col-1;
  }

  section#servicos-section:has(.servicos-article:focus)
    .servicos-article:not(:focus) {
    @apply m-0 p-0;
  }

  .servicos-article:focus .descricao {
    @apply h-full flex justify-evenly items-center flex-col gap-0 m-0 p-0;
  }

 .servicos-article .descricao > h2 {
    @apply text-2xl font-semibold;
 }

  .servicos-article:focus > .descricao > p {
    @apply block font-medium text-(--texto) mx-[5%] my-0;
  }

  main
    > section#servicos-section
    > article.servicos-article:focus
    > article.servico-imagens {
    @apply col-1 row-2;
  }
  main
    > section#servicos-section
    > article.servicos-article:focus
    > article#servico-roteiro-automatico {
    @apply bg-position-[center_90%];
  }
  main
    > section#servicos-section
    > article.servicos-article:focus
    > article#servico-sua-aventura {
    @apply bg-position-[center_31.5%];
  }
  .servicos-article:focus h3 {
    @apply m-0 p-0;
  }
  .servicos-article:focus h2 {
    @apply m-0 p-0;
  }
  .servicos-article:focus .botao-servicos {
    @apply hidden;
  }
  .servicos-article h3 {
    @apply text-[1.8em];
  }
  .botao-servicos {
    @apply min-w-full p-[5px];
  }
  footer {
    @apply grid-rows-[1fr_7fr_3fr];
  }
  footer > .rodape {
    @apply col-[2/3];
  }
}

        /* Desktop grande */
@media screen and (min-width: 1280px) {
    header > div#temas-desktop {
        @apply scale-90;
    }

     .cadastro-desktop {
        @apply scale-100 active:scale-[0.94];
    }
}

