@reference "tailwindcss";

@font-face {
  font-family: "Majesty";
  src: url(../assets/fonts/majesty.otf);
}
* {
  @apply box-border m-0 p-0;
  font-family: "Oswald", sans-serif;
}

:root {
  --fundo: #e1f0f8;
  --texto: #1e2328;
  --botao: #25262a;
  --texto-botao: #e3e4f0;
  --fundo-menu-pressionado: white;
  --sombra-texto: rgba(0, 0, 0, 0.1);
  --texto-tag-pressionada: black;
  --fundo-tag-pressionada: rgba(132, 214, 247, 0.229);
  --fundo-tag-aberta: rgba(211, 211, 211, 0.3);
  --texto-produtos: rgb(106, 106, 106);
  --lua-modo-escuro: rgba(0, 0, 139, 0.322);
  --sol-modo-claro: black;
}

.dark #body.pagina-inicial-screen {
  --fundo: #051e2c;
  --texto: #f6f8fb;
  --botao: #f5f6f8;
  --texto-botao: #0c0c0c;
  --fundo-menu-pressionado: #222222;
  --sombra-texto: rgba(0, 0, 0, 0.8);
  --texto-tag-pressionada: white;
  --fundo-tag-pressionada: rgba(132, 214, 247, 0.645);
  --fundo-tag-aberta: rgba(211, 211, 211, 0.3);
  --texto-produtos: rgb(186, 185, 185);
  --lua-modo-escuro: rgb(26, 26, 255);
  --sol-modo-claro: gray;
}

 #body.pagina-inicial-screen {
  @apply h-screen bg-[--fundo];
}

/* Menu-Pressionado. Só é ativado em mobiles */
/* 1/2 Menu-Pressionado */
 #menu-pressionado.pagina-inicial-screen {
  @apply hidden min-h-screen h-auto grid-cols-[1fr_4fr_1fr] grid-rows-[75px_100px_500px] bg-(--fundo-menu-pressionado) gap-y-2.5;
}

#menu-pressionado.aberto.pagina-inicial-screen {
  @apply grid;
}

#botao-fechar.pagina-inicial-screen {
  @apply col-3 place-self-center;
}

.cadastro.pagina-inicial-screen {
  @apply flex flex-col justify-evenly items-center col-[span_3] row-2;
}

button.pagina-inicial-screen {
  @apply w-[90%] cursor-pointer text-center tracking-[0.5px] text-[1em] transition-[0.3s] m-[0.5vh] p-1 rounded-md active:scale-[0.94];
}

#cadastrar.pagina-inicial-screen {
  @apply bg-(--botao) text-(--texto-botao);
}

#login.pagina-inicial-screen {
  @apply bg-(--fundo-menu-pressionado) text-(--texto) border-(--texto-produtos) border-2 border-solid;
}

#topicos.pagina-inicial-screen {
  @apply col-[span_3] row-3;
}

#topicos.pagina-inicial-screen h3 {
  @apply w-[90%] text-[1.2em] font-thin text-(--texto) mx-auto my-2.5 pl-2.5 pr-0 py-2.5 rounded-md active:bg-(--fundo-tag-pressionada) active:text-(--texto-tag-pressionada) active:rounded-none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

 #produtos-container.pagina-inicial-screen {
  @apply relative;
}

p.pagina-inicial-screen {
  @apply absolute -translate-x-2/4 -translate-y-2/4 text-[1.8em] text-(--texto-produtos) right-[7.5%] top-2/4;
}

p.aberto.pagina-inicial-screen {
  @apply -translate-x-2/4 -translate-y-2/4 rotate-90;
}

#produtos-tag.aberto.pagina-inicial-screen {
  @apply bg-(--fundo-tag-aberta);
}

#produtos-a-mostrar.pagina-inicial-screen {
  @apply hidden;
}

#produtos-a-mostrar.aberto.pagina-inicial-screen {
  @apply block mx-0 my-5;
}

#produtos-a-mostrar.pagina-inicial-screen h3 {
  @apply text-(--texto-produtos) text-[1em] font-normal pl-[9vw];
}

#produtos-a-mostrar.pagina-inicial-screen .produtos-unicos.pagina-inicial-screen:active i {
  @apply text-(--texto-tag-pressionada);
}

.produtos-unicos.pagina-inicial-screen {
  @apply relative;
}

#produtos-a-mostrar.pagina-inicial-screen > .produtos-unicos.pagina-inicial-screen > i {
  @apply absolute text-(--texto-produtos) text-[1em] -translate-x-2/4 -translate-y-2/4 left-[9vw] top-2/4;
}

hr.pagina-inicial-screen {
  @apply mx-[4%] my-0 border-[rgba(211,211,211,0.608)];
}

#tema-container.pagina-inicial-screen {
  @apply relative;
}

#temas.pagina-inicial-screen {
  @apply absolute translate-x-[-30%] -translate-y-2/4 right-[0%] top-2/4;
}

/* 2/2 Menu-Pressionado */
#header.pagina-inicial-screen,
#main.pagina-inicial-screen,
#footer.pagina-inicial-screen {
  @apply grid;
}
/* Grid por padrão */

/* Conteúdos que só mostram no Desktop */
#header.pagina-inicial-screen > nav,
#header.pagina-inicial-screen > section,
#header.pagina-inicial-screen > #temas-desktop,
#header.pagina-inicial-screen > h2 > #aviao-icone-desktop {
  @apply hidden;
}

#header.pagina-inicial-screen > #produtos-desktop-container {
  @apply grid opacity-0 -translate-y-5 pointer-events-none transition-all duration-100 h-0 overflow-hidden;
}

/* Conteúdos que somem ao clicar no ícone de Menu */
#header.pagina-inicial-screen.fechado,
#main.pagina-inicial-screen.fechado,
#footer.pagina-inicial-screen.fechado {
  @apply hidden;
}

/* Valor padrão dos ícones */
i.pagina-inicial-screen {
  @apply text-[2em] text-(--botao) transition-[0.5s];
}

/* Header */
/* 1/2 Header */
#header.pagina-inicial-screen {
  @apply bg-(--fundo-menu-pressionado) grid-cols-[1fr_4fr_1fr] grid-rows-[75px_1fr] place-items-center pb-5;
}

#header.pagina-inicial-screen > #aviao-icone {
  @apply row-1 col-1;
}

#header.pagina-inicial-screen > #menu-icone {
  @apply row-1 col-3;
}

#header.pagina-inicial-screen > h2 {
  @apply row-1 col-2 tracking-[1px] text-[2.6em] transition-[0.4s] font-black;
  font-family: "Majesty";
}

#header.pagina-inicial-screen > h2 > i {
  @apply text-[1em];
}

#header.pagina-inicial-screen > h2:active,
#header.pagina-inicial-screen > h2:hover {
  @apply tracking-[4px];
}

#header.pagina-inicial-screen > h1 {
  @apply col-[span_3] row-2 text-center px-[30px] py-0 text-3xl;
}

h1.pagina-inicial-screen,
h2.pagina-inicial-screen,
h3.pagina-inicial-screen {
  @apply text-(--texto);
}
/* 2/2 Header */

#main.pagina-inicial-screen {
  @apply grid-cols-[auto_80%_auto] grid-rows-[500px_auto] gap-y-[5vh];
}

html.dark #main.pagina-inicial-screen {
  @apply bg-[#222222];
}

#main.pagina-inicial-screen > section.imagem.pagina-inicial-screen {
  @apply col-[span_3] row-1 w-full h-full bg-cover;
  background: var(--texto)
    url(https://cdn.pixabay.com/photo/2021/12/13/07/06/airplane-6867678_1280.jpg)
    center center no-repeat fixed;
}

#main.pagina-inicial-screen > section.imagem-desktop.pagina-inicial-screen > #imagem-1,
#main.pagina-inicial-screen > section.imagem-desktop.pagina-inicial-screen > #imagem-2,
#main.pagina-inicial-screen > section.imagem-desktop.pagina-inicial-screen > #imagem-3 {
  @apply hidden;
}

#produtos-section.pagina-inicial-screen {
  @apply flex col-span-full flex-col justify-evenly items-center px-4 py-2;
}

#produtos-section.pagina-inicial-screen h1 {
  @apply text-center text-blue-500 text-3xl text-shadow-[1px_1px_1px_#2222222a];
}

html.dark #produtos-section.pagina-inicial-screen h1 {
  @apply text-blue-400;
}

#produtos-section.pagina-inicial-screen p {
  @apply text-center text-neutral-600;
}

html.dark #produtos-section.pagina-inicial-screen p {
  @apply text-neutral-300;
}

#produtos-section.pagina-inicial-screen img {
  @apply xl:max-h-130 xl:max-w-130;
}

#produtos-section.pagina-inicial-screen article {
  @apply flex flex-col xl:items-center xl:gap-12;
}


#produtos-section.pagina-inicial-screen article:nth-child(odd) {
  @apply xl:flex-row;
}

#produtos-section.pagina-inicial-screen article:nth-child(even) {
  @apply xl:flex-row-reverse
}


/* Footer */

#footer.pagina-inicial-screen {
  @apply bg-white grid-cols-[1fr_5fr_1fr] grid-rows-[1fr_2fr_3fr] gap-y-[3vh] px-0 py-5;
}

html.dark #footer.pagina-inicial-screen {
  @apply bg-[#222222];
}

#footer.pagina-inicial-screen > h2.pagina-inicial-screen {
  @apply col-2 row-1 grid place-self-center text-center text-[2em];
}
#footer.pagina-inicial-screen > .rodape.pagina-inicial-screen {
  @apply row-2 col-[1/4] grid grid-cols-[1fr_1fr] grid-rows-[1fr_1fr] auto-rows-auto auto-cols-auto ;
}
#footer.pagina-inicial-screen > .rodape.pagina-inicial-screen > .imagem-rodape.pagina-inicial-screen {
  @apply bg-cover shadow-[1px_1px_1px_rgba(0,0,0,0.300)] bg-position-[50%_80%];
}
#imagem-rodape-1.pagina-inicial-screen {
  @apply bg-[url(https://cdn.pixabay.com/photo/2023/04/20/12/22/globe-7939725_1280.jpg)];
}
#imagem-rodape-2.pagina-inicial-screen {
  @apply bg-[url(https://cdn.pixabay.com/photo/2022/01/10/18/06/girls-6928968_1280.jpg)];
}
#imagem-rodape-3.pagina-inicial-screen {
  @apply bg-[url(https://cdn.pixabay.com/photo/2023/02/24/21/11/pancake-7811889_1280.jpg)] bg-bottom;
}
#imagem-rodape-4.pagina-inicial-screen {
  @apply bg-[url(https://cdn.pixabay.com/photo/2020/03/18/05/15/horse-4942698_1280.jpg)];
}
#footer.pagina-inicial-screen > nav.pagina-inicial-screen {
  @apply grid col-[span_3] row-3 grid-rows-[1fr_100px] gap-y-[15px];
}
nav.pagina-inicial-screen > h3 {
  @apply text-center row-1 text-[1.8em] mx-2.5 my-0;
}
#footer.pagina-inicial-screen > nav > ul.pagina-inicial-screen {
  @apply flex self-start gap-5 row-2 justify-center items-center;
  list-style: none;
}
#footer.pagina-inicial-screen i.pagina-inicial-screen {
  @apply text-(--texto) transition-[0.25s];
}
i.pagina-inicial-screen:active,
i.pagina-inicial-screen:hover {
  transform: scale(1.08) translateZ(-10px);
  cursor: pointer;
}

#Viajour.pagina-inicial-screen {
  @apply text-[1.2em] font-black;
  font-family: "Majesty";
}

        /* Celulares grandes ou em modo paisagem */
@media screen and (min-width: 568px) and (max-width: 768px) {
  #footer.pagina-inicial-screen {
    @apply grid-rows-[1fr_5fr_3fr];
  }
}

        /* Tablets */
@media screen and (min-width: 768px) and (max-width: 1024px) {

  #header > i.pagina-inicial-screen,
  #header > h2.pagina-inicial-screen {
    @apply text-[3em];
  }

  #menu-pressionado > #botao-fechar.pagina-inicial-screen {
    @apply text-[3em];
  }

  #footer.pagina-inicial-screen {
    @apply grid-rows-[1fr_5fr_3fr];
  }

  #footer > nav.pagina-inicial-screen {
    @apply grid-rows-[1fr_200px];
  }
}

/* Desktop */
@media screen and (min-width: 1024px) {
  #header.pagina-inicial-screen #menu-icone {
    @apply hidden;
  }

  #header.pagina-inicial-screen #aviao-icone {
    @apply hidden;
  }

  #header.pagina-inicial-screen > h2 > #aviao-icone-desktop {
    @apply inline;
  }

  #header.pagina-inicial-screen {
    @apply grid-cols-[1fr_4fr_1fr_2fr] grid-rows-[1fr_auto_2fr] place-content-center pt-2.5 px-4 items-center justify-items-normal;
  }

  #header.pagina-inicial-screen > #temas-desktop {
    @apply flex col-3 row-1 scale-80;
  }

  #header.pagina-inicial-screen > h1 {
    @apply col-[span_4] row-3;
  }

  #header.pagina-inicial-screen > h2 {
    @apply justify-self-end col-1 row-1 flex text-[1.4em] items-center gap-[2.5px];
  }

  #header.pagina-inicial-screen > h2 > i {
    @apply text-[1.2em];
  }

  #header.pagina-inicial-screen > section {
    @apply flex justify-around row-1 col-2;
  }

  .topicos-desktop.pagina-inicial-screen {
    @apply text-(--texto-produtos) font-light text-[1.2em] transition-[0.5s] cursor-pointer p-[0.4em] rounded-[10px] hover:bg-sky-500 hover:text-[white];
    text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.2);
  }

  span#seta-desktop.pagina-inicial-screen {
    @apply inline-block rotate-90 translate-x-1/4 translate-y-[5%] transition-[0.1s] duration-[ease];
  }

  .topicos-desktop.pagina-inicial-screen:hover span#seta-desktop.pagina-inicial-screen {
    @apply -rotate-90 translate-x-1/4 translate-y-[5%];
  }

  span#seta-desktop.seta-virada.pagina-inicial-screen {
    @apply -rotate-90 translate-x-1/4 translate-y-[5%];
  }

  #header.pagina-inicial-screen > #produtos-desktop-container.pagina-inicial-screen {
    @apply overflow-hidden min-h-[20%] opacity-100 translate-y-0 mt-6 pointer-events-auto h-auto col-[2/3] row-2 grid-cols-[1fr_1fr_1fr] grid-rows-[20%_85%] bg-(--fundo-menu-pressionado) border-(--texto-tag-pressionada) pt-[1%] pb-[2%] rounded-[15px] border-2 max-w-[85%];
  }

  #header.pagina-inicial-screen > #produtos-desktop-container > h2.pagina-inicial-screen {
    @apply row-1 justify-self-center text-xl;
    text-shadow: 1px 1px 1px var(--fundo-menu-pressionado);
  }

  #header.pagina-inicial-screen > #produtos-desktop-container > .produtos-pai.pagina-inicial-screen {
    @apply grid grid-rows-[1fr_1fr_1fr_1fr] justify-center;
  }

  #header.pagina-inicial-screen > #produtos-desktop-container > .produtos-pai > div.pagina-inicial-screen {
    @apply flex items-center justify-start rounded transition-all duration-200 cursor-pointer mx-0 my-[0.5vh] px-[1vh] py-[0.5vh] border-(--fundo-menu-pressionado) hover:bg-sky-500 hover:scale-105;
  }

  #header.pagina-inicial-screen > #produtos-desktop-container > .produtos-pai > div:hover > h3.pagina-inicial-screen {
    @apply text-white;
  }

  #header.pagina-inicial-screen > #produtos-desktop-container > .produtos-pai > div > i.pagina-inicial-screen {
    @apply text-[0.8em];
    text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.326);
  }

  #header.pagina-inicial-screen > #produtos-desktop-container > .produtos-pai > div > h3.pagina-inicial-screen {
    @apply text-[1em] translate-y-[-5.6%] font-normal ml-[5px] transition-all duration-200;
    text-shadow: 1px 1px 1px var(--sombra-texto);
  }

  #header.pagina-inicial-screen > nav.pagina-inicial-screen {
    @apply justify-self-end flex col-4 row-1;
  }

  .cadastro-desktop.pagina-inicial-screen {
    @apply scale-94 text-(--texto-botao) font-light text-[1.2em] transition-[0.5s] cursor-pointer bg-(--botao) border-(--texto-tag-pressionada) px-[0.5em] py-[0.3em] rounded-[15px] border-2 border-solid active:scale-[0.9];
    text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.4);
  }

  #c-desktop.pagina-inicial-screen {
    @apply text-(--texto) bg-(--fundo-menu-pressionado);
  }

  #main.pagina-inicial-screen {
    @apply grid-cols-[1fr_5fr_1fr] grid-rows-[800px_auto] overflow-hidden;
  }

  html.dark #main.pagina-inicial-screen {
    @apply bg-[#222222];
  }

  .imagem.pagina-inicial-screen {
    @apply hidden;
  }

  #main.pagina-inicial-screen > section.imagem-desktop.pagina-inicial-screen {
    @apply grid col-[span_3] row-1 grid-cols-[1fr_1fr_1fr] grid-rows-[1fr];
  }

  #main.pagina-inicial-screen > section.imagem-desktop > #imagem-1.pagina-inicial-screen {
    @apply grid col-1 row-1 bg-cover;
    background: var(--texto)
      url(https://cdn.pixabay.com/photo/2023/12/04/05/54/ferris-wheel-8428738_1280.jpg)
      center center no-repeat;
  }

  #main.pagina-inicial-screen > section.imagem-desktop > #imagem-2.pagina-inicial-screen {
    @apply grid col-2 row-1 bg-cover;
    background: var(--texto)
      url(https://cdn.pixabay.com/photo/2023/09/29/14/58/road-8284023_1280.jpg)
      center center no-repeat;
  }

  #main.pagina-inicial-screen > section.imagem-desktop > #imagem-3.pagina-inicial-screen {
    @apply grid col-3 row-1 bg-cover;
    background: var(--texto)
      url(https://cdn.pixabay.com/photo/2019/07/21/21/29/path-4353699_1280.jpg)
      center center no-repeat;
  }

  #footer.pagina-inicial-screen {
    @apply grid-rows-[1fr_7fr_3fr] ;
  }

  footer.pagina-inicial-screen > .rodape {
    @apply col-[2/3];
  }

/* Desktop grande */
}

@media screen and (min-width: 1280px) {
    .pagina-inicial-screen .cadastro-desktop {
        @apply scale-100 active:scale-[0.94];
    }
  }
