@reference "tailwindcss";

@font-face {
    font-family: 'Majesty';
    src: url(../../assets/fonts/majesty.otf);
}
* {
  @apply box-border m-0 p-0;
  font-family: "Oswald", sans-serif;
}

.sua-aventura-screen#body {
  @apply w-full min-h-screen flex flex-col items-center bg-cover bg-fixed;
}
main.sua-aventura-screen {
@apply w-full min-h-full pb-16 flex flex-col items-center px-[30px] lg:px-0;
}
.sua-aventura-screen.titulo {
  @apply text-[32px] text-center w-full text-white my-2;
}
.sua-aventura-screen.card {
  @apply p-5 w-full max-w-[600px] shadow-[0_4px_10px_rgba(0,0,0,0.15)] mb-[25px] rounded-[14px];
  background: #ffffff;
}
.sua-aventura-screen.card h2 {
  @apply text-[1.2em] mb-[15px];
}
.sua-aventura-screen.card label {
  @apply block font-semibold mt-2.5 mb-1.5 mx-0;
}
.sua-aventura-screen.card input,
.sua-aventura-screen.card select,
.sua-aventura-screen.card textarea {
  @apply w-full border text-base p-2.5 rounded-lg border-solid border-[#ccc];
}
.sua-aventura-screen.card input:focus {
  @apply outline-blue-400;
}
.sua-aventura-screen textarea {
  @apply resize-none overflow-hidden;
}
.sua-aventura-screen.select > option {
  @apply bg-[red];
}
.sua-aventura-screen.card textarea {
  @apply min-h-20;
}
.sua-aventura-screen.radio-group {
  @apply flex gap-[25px] mx-0 my-2.5;
}
.sua-aventura-screen.radio-group > label {
  @apply text-center;
}
.sua-aventura-screen.btn-montar,
.sua-aventura-screen.btn-salvar {
  @apply w-full text-lg cursor-pointer text-white transition-[0.2s] mt-[15px] p-3 rounded-lg border-[none];
}
.sua-aventura-screen.btn-montar {
  background: #4d7cff;
}
.sua-aventura-screen.btn-montar:hover {
  background: #3a63d6;
}
.sua-aventura-screen.btn-salvar {
  background: #2ecc71;
}
.sua-aventura-screen.btn-salvar:hover {
  background: #25a75a;
}
.sua-aventura-screen.dias-container {
  @apply w-full max-w-[700px] flex flex-col items-center mx-auto my-0;
}
