.aventura-container {
  width: 100%;
  min-height: 100vh;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to right, #74b9ff, #4d7cff);
  background-size: cover;
  background-attachment: fixed;
}

.titulo {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 25px;
  color: #fff;
}

.card {
  background: #ffffff;
  width: 100%;
  max-width: 600px;
  padding: 20px;
  border-radius: 14px;
  margin-bottom: 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.card h2 {
  margin-bottom: 15px;
}

.card label {
  display: block;
  font-weight: 600;
  margin: 10px 0 6px;
}

.card input,
.card select,
.card textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

textarea {
  resize: none;
  overflow: hidden;
}

.select > option {
    background-color: red;
}

.card textarea {
  min-height: 80px;
}

.radio-group {
  display: flex;
  gap: 25px;
  margin: 10px 0;
}

.btn-gerar,
.btn-salvar {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  transition: 0.2s;
}

.btn-gerar {
  background: #4d7cff;
}

.btn-gerar:hover {
  background: #3a63d6;
}

.btn-salvar {
  background: #2ecc71;
}

.btn-salvar:hover {
  background: #25a75a;
}

.dias-container {
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 25px; 
  margin: 0 auto; 
}
